extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6.col-lg-5
        .card.shadow-lg.border-0.rounded-4
          .card-body.p-5
            h2.text-center.mb-4 CityEquip Register
            if error
              .alert.alert-danger.alert-dismissible.fade.show.mb-4(role="alert")
                | #{error}
                button.btn-close(type="button", data-bs-dismiss="alert")
            form(method="POST")
              .form-floating.mb-4
                input#username.form-control.form-control-lg(name="username" required)
                label(for="username") Username
              .form-floating.mb-4
                input#email.form-control.form-control-lg(type="email" name="email" required)
                label(for="email") Email
              .form-floating.mb-4
                input#password.form-control.form-control-lg(type="password" name="password" required minlength="6")
                label(for="password") Password
              button.btn.btn-primary.w-100.btn-lg(type="submit") Register
            .text-center.mt-4
              p.small.text-muted Already have account?
              a.btn.btn-link.btn-lg(href="/login") Login
